<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputTitle">Title</label>
    <input data-wct-input-text id="inputTitle" 
    data-ng-model="ctrl.data.title" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputUrl">URL</label>
    <input data-wct-input-text id="inputUrl" placeholder="The URL of the page with this object." 
    data-ng-model="ctrl.data.url" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputAlbum">Album *</label>
    <input data-wct-input-text id="inputAlbum" placeholder="https://mydomain.com/album" 
    data-ng-model="ctrl.data.album" data-abm-form-control required>
  </div>
</div>
<div class="alert alert-info">
  * Provide a URL to a page with open graph data of type <a ui-sref="open-graph-generator.music-album">music.album</a>.
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectNumImages">Number of Images</label>
    <select data-wct-select id="selectNumImages" data-ng-change="ctrl.updateNumImages()"
    data-ng-model="ctrl.data.numImages" data-abm-form-control>
      <option ng-repeat="n in $root.range(1,10)" value="{{n}}">{{n}}</option>
    </select>
  </div>
</div>
<div data-ng-repeat="image in ctrl.data.images track by $index">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputImageUrl">Image {{$index + 1}} URL</label>
      <input data-wct-input-text id="inputImageUrl" placeholder="https://mydomain.com/image-{{$index + 1}}.png" 
      data-ng-model="image.url" data-abm-form-control required>
    </div>
  </div>
</div>
