<footer>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      Copyright © 2014 - 2017 | WebCodeTools.com, by <a href="http://jasonmacfarlane.me" target="_blank">Jason Macfarlane</a>.
      <br>
      <a data-ui-sref="sitemap" class="btn btn-raised btn-xs" data-abm-component>Sitemap</a>
      <!--<a data-ui-sref="contact" class="btn btn-raised btn-xs" data-abm-component>Contact</a>-->
    </div>

    <div class="col-xs-12 col-sm-4">
      <button data-ng-if="$ctrl.browser == 'chrome'" onclick="chrome.webstore.install()" class="chrome-store-btn"><img src="img/chrome-web-store.png"></button>
    </div>
  </div>
</footer>
