<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectType">Cursor Type</label>
    <select data-wct-select id="selectType"
    data-ng-model="ctrl.data.type" data-abm-form-control>
      <option value="alias">Alias</option>
      <option value="all-scroll">All scroll</option>
      <option value="cell">Cell</option>
      <option value="context-menu">Context-menu</option>
      <option value="col-resize">Col resize</option>
      <option value="copy">Copy</option>
      <option value="crosshair">Crosshair</option>
      <option value="default">Default</option>
      <option value="e-resize">East resize</option>
      <option value="ew-resize">East-west resize</option>
      <option value="grab">Grab</option>
      <option value="grabbing">Grabbing</option>
      <option value="help">Help</option>
      <option value="move">Move</option>
      <option value="n-resize">North resize</option>
      <option value="ne-resize">North-east resize</option>
      <option value="nesw-resize">North-east south-west resize</option>
      <option value="ns-resize">North-south resize</option>
      <option value="nw-resize">North-west resize</option>
      <option value="nwse-resize">North-west south-east resize</option>
      <option value="no-drop">No drop</option>
      <option value="none">None</option>
      <option value="not-allowed">Not allowed</option>
      <option value="pointer">Pointer</option>
      <option value="progress">Progress</option>
      <option value="row-resize">Row resize</option>
      <option value="s-resize">South resize</option>
      <option value="se-resize">South-east resize</option>
      <option value="sw-resize">South-west resize</option>
      <option value="text">Text</option>
      <option value="vertical-text">Vertical text</option>
      <option value="w-resize">West resize</option>
      <option value="wait">Wait</option>
      <option value="zoom-in">Zoom in</option>
      <option value="zoom-out">Zoom out</option>
    </select>
  </div>
</div>
