<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputSourceOgg">Source (OGG)</label>
    <input data-wct-input-text id="inputSourceOgg"
    data-ng-model="ctrl.data.sourceOgg" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputSourceMp3">Source (MP3)</label>
    <input data-wct-input-text id="inputSourceMp3"
    data-ng-model="ctrl.data.sourceMp3" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputSourceWav">Source (WAV)</label>
    <input data-wct-input-text id="inputSourceWav"
    data-ng-model="ctrl.data.sourceWav" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectControls">Controls</label>
    <select data-wct-select id="selectControls"
    data-ng-model="ctrl.data.controls" data-abm-form-control>
      <option value="">No</option>
      <option value="controls">Yes</option>
    </select>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectAutoplay">Autoplay</label>
    <select data-wct-select id="selectAutoplay"
    data-ng-model="ctrl.data.autoplay" data-abm-form-control>
      <option value="">No</option>
      <option value="autoplay">Yes</option>
    </select>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectLoop">Loop</label>
    <select data-wct-select id="selectLoop"
    data-ng-model="ctrl.data.loop" data-abm-form-control>
      <option value="">No</option>
      <option value="loop">Yes</option>
    </select>
  </div>
</div>
