<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row" data-ng-controller="MicrodataArticleController as ctrl">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputHeadline">Headline</label>
              <input data-wct-input-text id="inputHeadline"
              data-ng-model="ctrl.data.headline" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputDescription">Description</label>
              <textarea data-wct-textarea id="inputDescription" rows="3"
              data-ng-model="ctrl.data.description" data-abm-form-control required></textarea>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputDatePublished">Date Published (yyyy-mm-dd)</label>
              <input data-wct-input-text id="inputDatePublished"
              data-ng-model="ctrl.data.datePublished" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputImageUrl">Image URL</label>
              <input data-wct-input-text id="inputImageUrl"
              data-ng-model="ctrl.data.imageUrl" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputImageAlt">Image Alternative Text</label>
              <input data-wct-input-text id="inputImageAlt"
              data-ng-model="ctrl.data.imageAlt" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="inputImageHeight">Image Height (px)</label>
              <input data-wct-input-number id="inputImageHeight" min="1"
              data-ng-model="ctrl.data.imageHeight" data-abm-form-control required>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="inputImageWidth">Image Width (px)</label>
              <input data-wct-input-number id="inputImageWidth" min="1"
              data-ng-model="ctrl.data.imageWidth" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="inputAuthor">Author</label>
              <input data-wct-input-text id="inputAuthor"
              data-ng-model="ctrl.data.author" data-abm-form-control required>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="inputPublisher">Publisher</label>
              <input data-wct-input-text id="inputPublisher"
              data-ng-model="ctrl.data.publisher" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputPublisherLogoUrl">Publisher Logo URL</label>
              <input data-wct-input-text id="inputPublisherLogoUrl"
              data-ng-model="ctrl.data.publisherLogoUrl" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="textareaArticleBody">Full Article Body</label>
              <textarea data-wct-textarea id="textareaArticleBody" rows="15" placeholder="Your complete article."
              data-ng-model="ctrl.data.articleBody" data-abm-form-control required></textarea>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3>Code</h3>

    <section-code code-id="element-html" code="{{ctrl.elementHtml()}}"></section-code>

    <side-ad></side-ad>
  </div>
</div>
