<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectInset">Inset</label>
    <select data-wct-select id="selectInset"
    data-ng-model="ctrl.data.inset" data-abm-form-control>
      <option value="">No</option>
      <option value="inset">Yes</option>
    </select>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputColor">Color</label>
    <input data-wct-input-text id="inputColor" colorpicker="hex"
    data-ng-model="ctrl.data.color" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputHPosition">Horizontal Position</label>
    <input data-wct-input-range id="inputHPosition" min="-100" max="100"
    data-ng-model="ctrl.data.hPosition" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputVPosition">Vertical Position</label>
    <input data-wct-input-range id="inputVPosition" min="-100" max="100"
    data-ng-model="ctrl.data.vPosition" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputBlurRadius">Blur Radius</label>
    <input data-wct-input-range id="inputBlurRadius" min="0" max="100"
    data-ng-model="ctrl.data.blurRadius" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputSpread">Spread</label>
    <input data-wct-input-range id="inputSpread" min="0" max="100"
    data-ng-model="ctrl.data.spread" data-abm-form-control>
  </div>
</div>  
