<section>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <header>
        <h1 class="page-header" data-ng-bind="pageTitle"></h1>
      </header>
    </div>
  </div>

  <div class="row" data-ng-controller="ContactController as ctrl">
    <div class="col-xs-12 col-sm-6">
      <div class="well">
        <form name="contactForm" class="form-horizontal" data-ng-submit="ctrl.processForm()">
          <fieldset>
            <div class="form-group" data-abm-form-group>
              <div class="col-sm-12">
                <label data-wct-label for="inputName">Your Name</label>
                <input data-wct-input-text id="inputName" 
                  data-ng-model="ctrl.data.name" data-abm-form-control required>
              </div>
            </div>
            <div class="form-group" data-abm-form-group>
              <div class="col-sm-12">
                <label data-wct-label for="inputEmail">Email</label>
                <input data-wct-input-email id="inputEmail" 
                  data-ng-model="ctrl.data.email" data-abm-form-control required>
              </div>
            </div>
            <div class="form-group" data-abm-form-group>
              <div class="col-sm-12">
                <label data-wct-label for="inputSubject">Subject</label>
                <input data-wct-input-text id="inputSubject" 
                  data-ng-model="ctrl.data.subject" data-abm-form-control required>
              </div>
            </div>
            <div class="form-group" data-abm-form-group>
              <div class="col-sm-12">
                <label data-wct-label for="inputMessage">Message</label>
                <textarea data-wct-textarea id="inputMessage" 
                  data-ng-model="ctrl.data.message" rows="5" data-abm-form-control required></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <input type="reset" class="btn btn-raised btn-default" data-abm-component value="Reset">
                <input type="submit" class="btn btn-raised btn-primary" 
                  data-ng-disabled="contactForm.$invalid" data-abm-component value="Submit">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
