<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row" data-ng-controller="CssTextShadowController as ctrl">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <browser-support></browser-support>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputColor">Color</label>
              <input data-wct-input-text id="inputColor" colorpicker="hex"
              data-ng-model="ctrl.data.color" data-abm-form-control>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputHPosition">Horizontal Position</label>
              <input data-wct-input-range id="inputHPosition" min="-100" max="100"
              data-ng-model="ctrl.data.hPosition" data-abm-form-control>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputVPosition">Vertical Position</label>
              <input data-wct-input-range id="inputVPosition" min="-100" max="100"
              data-ng-model="ctrl.data.vPosition" data-abm-form-control>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputBlurRadius">Blur Radius</label>
              <input data-wct-input-range id="inputBlurRadius" min="0" max="100"
              data-ng-model="ctrl.data.blurRadius" data-abm-form-control>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3>Preview</h3>

    <div class="preview preview-full">
      <p style="{{ctrl.elementCss()}}">
        This is what your text shadow would look like.
      </p>
    </div>

    <side-ad></side-ad>

    <h3>Code</h3>

    <section-code code-id="element-css" title="Add this to the element that you want to add a text shadow."
      code="{{ctrl.elementCss()}}"></section-code>
  </div>
</div>
