<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row" data-ng-controller="MicrodataRestaurantController as ctrl">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputRestaurantName">Restaurant Name</label>
              <input data-wct-input-text id="inputRestaurantName"
              data-ng-model="ctrl.data.restaurantName" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="selectReservations">Accepting Reservations</label>
              <select data-wct-select id="selectReservations"
              data-ng-model="ctrl.data.reservations" data-abm-form-control>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputMenuUrl">Menu URL</label>
              <input data-wct-input-text id="inputMenuUrl"
              data-ng-model="ctrl.data.menuUrl" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputCuisine">Cuisine</label>
              <input data-wct-input-text id="inputCuisine" placeholder="i.e. Seafood"
              data-ng-model="ctrl.data.cuisine" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="selectPriceRange">Price Range</label>
              <select data-wct-select id="selectPriceRange"
              data-ng-model="ctrl.data.priceRange" data-abm-form-control>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
              </select>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="inputStreet">Street Address</label>
              <input data-wct-input-text id="inputStreet"
              data-ng-model="ctrl.data.street" data-abm-form-control required>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="inputCity">City</label>
              <input data-wct-input-text id="inputCity"
              data-ng-model="ctrl.data.city" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="inputRegion">State / Province / Region</label>
              <input data-wct-input-text id="inputRegion"
              data-ng-model="ctrl.data.region" data-abm-form-control required>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="inputPostalCode">Postal / Zip Code</label>
              <input data-wct-input-text id="inputPostalCode"
              data-ng-model="ctrl.data.postalCode" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputPhoneNumber">Phone Number</label>
              <input data-wct-input-text id="inputPhoneNumber"
              data-ng-model="ctrl.data.phoneNumber" data-abm-form-control required>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3>Code</h3>

    <section-code code-id="element-html" code="{{ctrl.elementHtml()}}"></section-code>

    <side-ad></side-ad>
  </div>
</div>
