<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectWhiteSpace">White Space</label>
    <select data-wct-select id="selectWhiteSpace"
    data-ng-model="ctrl.data.whiteSpace" data-abm-form-control>
      <option value="normal">Normal</option>
      <option value="nowrap">No wrap</option>
      <option value="pre">Pre</option>
      <option value="pre-line">Pre-line</option>
      <option value="pre-wrap">Pre-wrap</option>
    </select>
  </div>
</div>
