<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputTitle">Title</label>
    <input data-wct-input-text id="inputTitle" 
    data-ng-model="ctrl.data.title" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputUrl">URL</label>
    <input data-wct-input-text id="inputUrl" placeholder="The URL of the page with this object." 
    data-ng-model="ctrl.data.url" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputSeries">Series *</label>
    <input data-wct-input-text id="inputSeries" 
    data-ng-model="ctrl.data.series" data-abm-form-control>
  </div>
</div>
<div class="alert alert-info">
  * Provide a URL to a page with open graph data of type <a ui-sref="open-graph-generator.video-tv-show">video.tv_show</a>.
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectNumActors">Number of Actors</label>
    <select data-wct-select id="selectNumActors" data-ng-change="ctrl.updateNumActors()"
    data-ng-model="ctrl.data.numActors" data-abm-form-control>
      <option ng-repeat="n in $root.range(1,50)" value="{{n}}">{{n}}</option>
    </select>
  </div>
</div>
<div data-ng-repeat="actor in ctrl.data.actors track by $index">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputActorUrl">Actor {{$index + 1}} URL **</label>
      <input data-wct-input-text id="inputActorUrl" placeholder="https://mydomain.com/actor-{{$index + 1}}" 
      data-ng-model="actor.url" data-abm-form-control required>
    </div>
  </div>
</div>
<div class="alert alert-info">
  ** Provide a URL to the actor's Facebook profile or a page with 
  open graph data of type <a ui-sref="open-graph-generator.profile">profile</a>.
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectNumImages">Number of Images</label>
    <select data-wct-select id="selectNumImages" data-ng-change="ctrl.updateNumImages()"
    data-ng-model="ctrl.data.numImages" data-abm-form-control>
      <option ng-repeat="n in $root.range(1,10)" value="{{n}}">{{n}}</option>
    </select>
  </div>
</div>
<div data-ng-repeat="image in ctrl.data.images track by $index">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputImageUrl">Image {{$index + 1}} URL</label>
      <input data-wct-input-text id="inputImageUrl" placeholder="https://mydomain.com/image-{{$index + 1}}.png" 
      data-ng-model="image.url" data-abm-form-control required>
    </div>
  </div>
</div>
