<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row" data-ng-controller="JsonLdProductOfferController as ctrl">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputBrand">Brand</label>
              <input data-wct-input-text id="inputBrand"
              data-ng-model="ctrl.data.brand" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputProductName">Product Name</label>
              <input data-wct-input-text id="inputProductName"
              data-ng-model="ctrl.data.productName" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputProductImage">Product Image (URL)</label>
              <input data-wct-input-text id="inputProductImage" placeholder="The URL of a product image."
              data-ng-model="ctrl.data.productImage" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputDescription">Description</label>
              <textarea data-wct-textarea id="inputDescription" rows="3" maxlength="2000"
              data-ng-model="ctrl.data.description" data-abm-form-control required></textarea>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-4">
              <label data-wct-label for="selectProductNumberType">Product Number Type</label>
              <select data-wct-select id="selectProductNumberType"
              data-ng-model="ctrl.data.productNumberType" data-abm-form-control>
                <option value="asin">ASIN</option>
                <option value="isbn">ISBN</option>
                <option value="mpn">MPN</option>
                <option value="sku">SKU</option>
                <option value="upc">UPC</option>
              </select>
            </div>
            <div class="col-sm-8">
              <label data-wct-label for="inputProductNumber">Product Number</label>
              <input data-wct-input-text id="inputProductNumber"
              data-ng-model="ctrl.data.productNumber" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="inputCurrency">Currency</label>
              <input data-wct-input-text id="inputCurrency" placeholder="i.e. USD"
              data-ng-model="ctrl.data.currency" data-abm-form-control required>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="inputPrice">Price</label>
              <input data-wct-input-text id="inputPrice" placeholder="i.e. $39.99"
              data-ng-model="ctrl.data.price" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="selectCondition">Condition</label>
              <select data-wct-select id="selectCondition"
              data-ng-model="ctrl.data.condition" data-abm-form-control>
                <option value="new">New</option>
                <option value="used">Used</option>
                <option value="refurbished">Refurbished</option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3>Code</h3>

    <section-code code-id="json-ld" code="{{ctrl.jsonLd()}}"></section-code>

    <side-ad></side-ad>
  </div>
</div>
