<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectType">Type</label>
    <select data-wct-select id="selectType" data-ng-model="ctrl.data.type"
    data-ng-change="ctrl.updatePageStyle()" data-abm-form-control>
      <option value="background-color">Background Color</option>
      <option value="height">Height</option>
      <option value="opacity">Opacity</option>
      <option value="outline">Outline</option>
      <option value="width">Width</option>
    </select>
  </div>
</div>

<div data-ng-if="ctrl.data.type == 'background-color'">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputBeforeColor">Before Color</label>
      <input data-wct-input-text id="inputBeforeColor" colorpicker="hex"
      data-ng-model="ctrl.data.beforeColor" data-abm-form-control>
    </div>
  </div>
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputAfterColor">After Color</label>
      <input data-wct-input-text id="inputAfterColor" colorpicker="hex"
      data-ng-change="ctrl.updatePageStyle()"
      data-ng-model="ctrl.data.afterColor" data-abm-form-control>
    </div>
  </div>
</div>

<div data-ng-if="ctrl.data.type == 'height'">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputHeight">Height (px)</label>
      <input data-wct-input-number id="inputHeight" min="0"
      data-ng-change="ctrl.updatePageStyle()"
      data-ng-model="ctrl.data.height" data-abm-form-control>
    </div>
  </div>
</div>

<div data-ng-if="ctrl.data.type == 'opacity'">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputOpacity">Opacity</label>
      <input data-wct-input-range id="inputOpacity" min="0" max="1" step="0.01"
      data-ng-change="ctrl.updatePageStyle()"
      data-ng-model="ctrl.data.opacity" data-abm-form-control>
    </div>
  </div>
</div>

<div data-ng-if="ctrl.data.type == 'outline'">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputOutlineWidth">Outline Width (px)</label>
      <input data-wct-input-number id="inputOutlineWidth" min="1"
      data-ng-change="ctrl.updatePageStyle()"
      data-ng-model="ctrl.data.outlineWidth" data-abm-form-control>
    </div>
  </div>
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="selectOutlineStyle">Outline Style</label>
      <select data-wct-select id="selectOutlineStyle"
      data-ng-change="ctrl.updatePageStyle()"
      data-ng-model="ctrl.data.outlineStyle" data-abm-form-control>
        <option value="dotted">Dotted</option>
        <option value="dashed">Dashed</option>
        <option value="solid">Solid</option>
        <option value="double">Double</option>
        <option value="groove">Groove</option>
        <option value="ridge">Ridge</option>
        <option value="inset">Inset</option>
        <option value="outset">Outset</option>
      </select>
    </div>
  </div>
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputOutlineColor">Outline Color (px)</label>
      <input data-wct-input-text id="inputOutlineColor" colorpicker="hex"
      data-ng-change="ctrl.updatePageStyle()"
      data-ng-model="ctrl.data.outlineColor" data-abm-form-control>
    </div>
  </div>
</div>

<div data-ng-if="ctrl.data.type == 'width'">
  <div class="form-group" data-abm-form-group>
    <div class="col-sm-12">
      <label data-wct-label for="inputWidth">Width (px)</label>
      <input data-wct-input-number id="inputWidth" min="0"
      data-ng-change="ctrl.updatePageStyle()"
      data-ng-model="ctrl.data.width" data-abm-form-control>
    </div>
  </div>
</div>

<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectTimingFunction">Timing Function</label>
    <select data-wct-select id="selectTimingFunction"
    data-ng-model="ctrl.data.timingFunction" data-abm-form-control>
      <option value="linear">Linear</option>
      <option value="ease">Ease</option>
      <option value="ease-in">Ease in</option>
      <option value="ease-out">Ease out</option>
      <option value="ease-in-out">Ease in out</option>
    </select>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputDuration">Duration (Seconds)</label>
    <input data-wct-input-number id="inputDuration" min="0"
    data-ng-model="ctrl.data.duration" data-abm-form-control>
  </div>
</div>
