<nav data-ng-controller="TopMenuController as ctrl" class="navbar navbar-fixed-top ng-class:ctrl.topMenuClass">
  <alert></alert>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-2">
        <div class="navbar-header">
          <a class="navbar-brand" data-ui-sref="dashboard">Web Code Tools</a>
          <button type="button" class="navbar-toggle" data-ng-click="$root.toggleNavigation()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <side-menu class="collapse navbar-collapse" data-ng-class="{in: !$root.navCollapsed}"></side-menu>
        </div>
      </div>

      <div class="col-sm-9 col-md-5 col-lg-6 hidden-xs hidden-sm">
        <ul class="nav navbar-nav navbar-left">
          <div data-ncy-breadcrumb></div>
        </ul>
      </div>

      <div class="col-sm-9 col-md-4 hidden-xs">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="fa fa-facebook-square fa-2x" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{pageUrl}}&amp;title={{pageTitle}}"></a>
          </li>
          <li>
            <a class="fa fa-twitter-square fa-2x" target="_blank" href="http://twitter.com/intent/tweet?status={{pageTitle}}+{{pageUrl}}" rel="nofollow"></a>
          </li>
          <li>
            <a class="fa fa-google-plus-square fa-2x" target="_blank" href="https://plus.google.com/share?url={{pageUrl}}" rel="nofollow"></a>
          </li>
          <li>
            <a class="fa fa-reddit-square fa-2x" target="_blank" href="http://www.reddit.com/submit?url={{pageUrl}}&amp;title={{pageTitle}}" rel="nofollow"></a>
          </li>
          <li>
            <a class="fa fa-linkedin-square fa-2x" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{pageUrl}}&amp;title={{pageTitle}}&amp;source=http://webcodetools.com" rel="nofollow"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
