<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputSource">Source (URL)</label>
    <input data-wct-input-text id="inputSource"
    data-ng-model="ctrl.data.source" data-abm-form-control required="">
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputAltText">Alternative Text</label>
    <input data-wct-input-text id="inputAltText"
    data-ng-model="ctrl.data.altText" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputHeight">Height (px) - 0 for none</label>
    <input data-wct-input-range id="inputHeight" min="0" max="1000"
    data-ng-model="ctrl.data.height" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputWidth">Width (px) - 0 for none</label>
    <input data-wct-input-range id="inputWidth" min="0" max="1000"
    data-ng-model="ctrl.data.width" data-abm-form-control>
  </div>
</div>
