<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputOrganizationName">Organization Name</label>
    <input data-wct-input-text id="inputOrganizationName"
    data-ng-model="ctrl.data.organizationName" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-6">
    <label data-wct-label for="inputStreet">Street Address</label>
    <input data-wct-input-text id="inputStreet"
    data-ng-model="ctrl.data.street" data-abm-form-control required>
  </div>
  <div class="col-sm-6">
    <label data-wct-label for="inputCity">City</label>
    <input data-wct-input-text id="inputCity"
    data-ng-model="ctrl.data.city" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-6">
    <label data-wct-label for="inputRegion">State / Province / Region</label>
    <input data-wct-input-text id="inputRegion"
    data-ng-model="ctrl.data.region" data-abm-form-control required>
  </div>
  <div class="col-sm-6">
    <label data-wct-label for="inputPostalCode">Postal / Zip Code</label>
    <input data-wct-input-text id="inputPostalCode"
    data-ng-model="ctrl.data.postalCode" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputTelephone">Phone Number</label>
    <input data-wct-input-tel id="inputTelephone"
    data-ng-model="ctrl.data.telephone" data-abm-form-control required>
  </div>
</div>
