<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputText">Text</label>
    <input data-wct-input-text id="inputText"
    data-ng-model="ctrl.data.text" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputName">Name</label>
    <input data-wct-input-text id="inputName"
    data-ng-model="ctrl.data.name" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectAutofocus">Autofocus</label>
    <select data-wct-select id="selectAutofocus"
    data-ng-model="ctrl.data.autofocus" data-abm-form-control>
      <option value="">No</option>
      <option value="autofocus">Yes</option>
    </select>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectDisabled">Disabled</label>
    <select data-wct-select id="selectDisabled"
    data-ng-model="ctrl.data.disabled" data-abm-form-control>
      <option value="">No</option>
      <option value="disabled">Yes</option>
    </select>
  </div>
</div>
