<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectDirection">Direction</label>
    <select data-wct-select id="selectDirection"
    data-ng-model="ctrl.data.direction" data-abm-form-control>
      <option value="ltr">Left to right</option>
      <option value="rtl">Right to left</option>
    </select>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputText">Text</label>
    <textarea data-wct-textarea id="inputText" rows="5"
    data-ng-model="ctrl.data.text" data-abm-form-control></textarea>
  </div>
</div>
