<div class="col-xs-8 col-sm-3 col-md-3 col-lg-2 sidebar">
  <ul class="nav nav-sidebar">
    <li data-ng-class="{active:$ctrl.isActive('/')}">
      <a class="clearfix" data-ui-sref="dashboard" data-abm-component data-ng-click="$root.toggleNavigation()">Dashboard<i class="pull-right material-icons">dashboard</i></a>
    </li>
  </ul>
  <hr>
  <span class="sidebar-title">Code Generators</span>
  <ul class="nav nav-sidebar">
    <li data-ng-class="{active:$ctrl.isActive('/css-generator')}">
      <a data-ui-sref="css-generator" data-abm-component data-ng-click="$root.toggleNavigation()">CSS3</a>
    </li>
    <li data-ng-class="{active:$ctrl.isActive('/html-generator')}">
      <a data-ui-sref="html-generator" data-abm-component data-ng-click="$root.toggleNavigation()">HTML5</a>
    </li>
    <li data-ng-class="{active:$ctrl.isActive('/microdata-generator')}">
      <a data-ui-sref="microdata-generator" data-abm-component data-ng-click="$root.toggleNavigation()">Microdata</a>
    </li>
    <li data-ng-class="{active:$ctrl.isActive('/json-ld-generator')}">
      <a data-ui-sref="json-ld-generator" data-abm-component data-ng-click="$root.toggleNavigation()">JSON-LD</a>
    </li>
    <li data-ng-class="{active:$ctrl.isActive('/meta-tags-generator')}">
      <a data-ui-sref="meta-tags-generator" data-abm-component data-ng-click="$root.toggleNavigation()">Meta Tags</a>
    </li>
    <li data-ng-class="{active:$ctrl.isActive('/open-graph-generator')}">
      <a data-ui-sref="open-graph-generator" data-abm-component data-ng-click="$root.toggleNavigation()">Open Graph</a>
    </li>
    <li data-ng-class="{active:$ctrl.isActive('/twitter-card-generator')}">
      <a data-ui-sref="twitter-card-generator" data-abm-component data-ng-click="$root.toggleNavigation()">Twitter Card</a>
    </li>
  </ul>
  <hr>
  <span class="sidebar-title">Links</span>
  <ul class="nav nav-sidebar">
    <li>
      <a href="http://css4.rocks" target="_blank" data-abm-component data-ng-click="$root.toggleNavigation()">CSS Level 4 Selectors</a>
    </li>
  </ul>
</div>
