<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row" data-ng-controller="MicrodataVideoController as ctrl">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputVideoName">Video Name</label>
              <input data-wct-input-text id="inputVideoName"
              data-ng-model="ctrl.data.videoName" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputVideoUrl">Video URL</label>
              <input data-wct-input-text id="inputVideoUrl" min="0"
              data-ng-model="ctrl.data.videoUrl" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputDescription">Description</label>
              <textarea data-wct-textarea id="inputDescription" rows="3" maxlength="2000"
              data-ng-model="ctrl.data.description" data-abm-form-control required></textarea>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputThumbnailUrl">Thumbnail Image URL</label>
              <input data-wct-input-text id="inputThumbnailUrl"
              data-ng-model="ctrl.data.thumbnailUrl" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputUploadDate">Upload Date (yyyy-mm-dd)</label>
              <input data-wct-input-text id="inputUploadDate"
              data-ng-model="ctrl.data.uploadDate" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputDuration">Duration (HH:MM:SS)</label>
              <input data-wct-input-text id="inputDuration"
              data-ng-model="ctrl.data.duration" data-abm-form-control required>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3>Code</h3>

    <section-code code-id="element-html" code="{{ctrl.elementHtml()}}"></section-code>

    <side-ad></side-ad>
  </div>
</div>
