<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputSummary">Summary</label>
    <input data-wct-input-text id="inputSummary"
    data-ng-model="ctrl.data.summary" data-abm-form-control></textarea>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputDetails">Additional Text (Details)</label>
    <input data-wct-input-text id="inputDetails"
    data-ng-model="ctrl.data.details" data-abm-form-control></textarea>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectOpen">Open by Default?</label>
    <select data-wct-select id="selectOpen"
    data-ng-model="ctrl.data.open" data-abm-form-control>
      <option value="">No</option>
      <option value="open">Yes</option>
    </select>
  </div>
</div>
