<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputAppName">App Name</label>
    <input data-wct-input-text id="inputAppName"
    data-ng-model="ctrl.data.appName" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputCategory">Category</label>
    <input data-wct-input-text id="inputCategory" placeholder="i.e. Game, Business"
    data-ng-model="ctrl.data.category" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputOperatingSystem">Operating System</label>
    <input data-wct-input-text id="inputOperatingSystem" placeholder="i.e. Windows 10, Android 6.0"
    data-ng-model="ctrl.data.operatingSystem" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputRating">Rating (1-5)</label>
    <input data-wct-input-number id="inputRating" min="1" max="5"
    placeholder="5 is best, 1 is worst"
    data-ng-model="ctrl.data.rating" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputNumRatings">Number of Ratings</label>
    <input data-wct-input-number id="inputNumRatings" min="0"
    data-ng-model="ctrl.data.numRatings" data-abm-form-control required>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-4">
    <label data-wct-label for="inputCurrency">Currency</label>
    <input data-wct-input-text id="inputCurrency" placeholder="i.e. USD"
    data-ng-model="ctrl.data.currency" data-abm-form-control>
  </div>
  <div class="col-sm-8">
    <label data-wct-label for="inputPrice">Price</label>
    <input data-wct-input-text id="inputPrice" placeholder="i.e. $2.99"
    data-ng-model="ctrl.data.price" data-abm-form-control required>
  </div>
</div>
