<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <div data-ng-if="browserSupport">
            <browser-support></browser-support>
          </div>
          <ng-include src="generatorForm"></ng-include>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div data-ng-if="generatorPreview">
      <h3>Preview</h3>

      <ng-include src="generatorPreview"></ng-include>
    </div>

    <side-ad></side-ad>

    <h3>Code</h3>

    <ng-include src="generatorCode"></ng-include>
  </div>
</div>
