<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row" data-ng-controller="JsonLdEventController as ctrl">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputEventName">Event Name</label>
              <input data-wct-input-text id="inputEventName"
              data-ng-model="ctrl.data.eventName" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputDescription">Description</label>
              <textarea data-wct-input-text id="inputDescription" rows="3"
              data-ng-model="ctrl.data.description" data-abm-form-control required></textarea>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="inputStartDate">Start Date (yyyy-mm-dd)</label>
              <input data-wct-input-text id="inputStartDate"
              data-ng-model="ctrl.data.startDate" data-abm-form-control required>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="inputEndDate">End Date (yyyy-mm-dd)</label>
              <input data-wct-input-text id="inputEndDate"
              data-ng-model="ctrl.data.endDate" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputLocation">Name of Location</label>
              <input data-wct-input-text id="inputLocation"
              data-ng-model="ctrl.data.locationName" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="inputStreet">Street Address</label>
              <input data-wct-input-text id="inputStreet"
              data-ng-model="ctrl.data.street" data-abm-form-control required>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="inputCity">City</label>
              <input data-wct-input-text id="inputCity"
              data-ng-model="ctrl.data.city" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputRegion">State / Province / Region</label>
              <input data-wct-input-text id="inputRegion"
              data-ng-model="ctrl.data.region" data-abm-form-control required>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3>Code</h3>

    <section-code code-id="json-ld" code="{{ctrl.jsonLd()}}"></section-code>

    <side-ad></side-ad>
  </div>
</div>
