<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputName">Name</label>
    <input data-wct-input-text id="inputName"
    data-ng-model="ctrl.data.name" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputPlaceholder">Placeholder</label>
    <input data-wct-input-text id="inputPlaceholder"
    data-ng-model="ctrl.data.placeholder" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectAutofocus">Autofocus</label>
    <select data-wct-select id="selectAutofocus"
    data-ng-model="ctrl.data.autofocus" data-abm-form-control>
      <option value="">No</option>
      <option value="autofocus">Yes</option>
    </select>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputColumns">Columns</label>
    <input data-wct-input-number id="inputColumns" min="1"
    data-ng-model="ctrl.data.columns" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputRows">Rows</label>
    <input data-wct-input-number id="inputRows" min="1"
    data-ng-model="ctrl.data.rows" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputMaxChars">Max Characters (0 for unlimited)</label>
    <input data-wct-input-number id="inputMaxChars" min="0"
    data-ng-model="ctrl.data.maxChars" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="selectRequired">Required</label>
    <select data-wct-select id="selectRequired"
    data-ng-model="ctrl.data.required" data-abm-form-control>
      <option value="">No</option>
      <option value="required">Required</option>
    </select>
  </div>
</div>
