<div class="row">
  <div class="col-xs-12">
    <top-ad></top-ad>
  </div>
</div>

<div class="row" data-ng-controller="JsonLdMusicPlaylistController as ctrl">
  <div class="col-xs-12 col-md-6">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Fill in required fields.</legend>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputPlaylistName">Playlist Name</label>
              <input data-wct-input-text id="inputPlaylistName"
              data-ng-model="ctrl.data.playlistName" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputPlaylistImageUrl">Playlist Cover Image (URL)</label>
              <input data-wct-input-text id="inputPlaylistImageUrl"
              data-ng-model="ctrl.data.playlistImageUrl" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputDownloadUrl">Download / Listen URL</label>
              <input data-wct-input-text id="inputDownloadUrl" placeholder="http://www.aded.us"
              data-ng-model="ctrl.data.downloadUrl" data-abm-form-control required>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-12">
              <label data-wct-label for="inputGenre">Genre (optional)</label>
              <input data-wct-input-text id="inputGenre" placeholder="Hip-Hop"
              data-ng-model="ctrl.data.genre" data-abm-form-control>
            </div>
          </div>
          <div class="form-group" data-abm-form-group>
            <div class="col-sm-6">
              <label data-wct-label for="selectNumTracks">Number of Tracks</label>
              <select data-wct-select id="selectNumTracks" data-ng-change="ctrl.updateNumTracks()"
              data-ng-model="ctrl.data.numTracks" data-abm-form-control>
                <option data-ng-repeat="n in range(1,50)" value="{{n}}">{{n}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label data-wct-label for="selectIncludeTrackUrl">Include Track URL</label>
              <select data-wct-select id="selectIncludeTrackUrl"
              data-ng-model="ctrl.data.includeTrackUrl" data-abm-form-control>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>

          <div data-ng-repeat="track in ctrl.data.tracks track by $index">
            <br>
            <span class="h3">Track {{$index + 1}}</span>
            <div class="form-group" data-abm-form-group>
              <div class="col-sm-6">
                <label data-wct-label for="inputTrackName">Name</label>
                <input data-wct-input-text id="inputTrackName"
                data-ng-model="ctrl.data.tracks[$index].name" data-abm-form-control required>
              </div>
              <div class="col-sm-6">
                <label data-wct-label for="inputTrackArtist">Artist</label>
                <input data-wct-input-text id="inputTrackArtist"
                data-ng-model="ctrl.data.tracks[$index].artist" data-abm-form-control required>
              </div>
            </div>
            <div class="form-group" data-abm-form-group>
              <div class="col-sm-6">
                <label data-wct-label for="inputTrackDuration">Duration (MM:SS)</label>
                <input data-wct-input-text id="inputTrackDuration" placeholder="i.e. 5:22"
                data-ng-model="ctrl.data.tracks[$index].duration" data-abm-form-control required>
              </div>
              <div class="col-sm-6">
                <label data-wct-label for="inputTrackOriginalAlbum">Original Album</label>
                <input data-wct-input-text id="inputTrackOriginalAlbum"
                data-ng-model="ctrl.data.tracks[$index].album" data-abm-form-control required>
              </div>
            </div>
            <div data-ng-if="ctrl.data.includeTrackUrl === '1'" class="form-group" data-abm-form-group>
              <div class="col-sm-12">
                <label data-wct-label for="inputTrackUrl">Track URL</label>
                <input data-wct-input-text id="inputTrackUrl"
                data-ng-model="ctrl.data.tracks[$index].url" data-abm-form-control required>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3>Code</h3>

    <section-code code-id="json-ld" code="{{ctrl.jsonLd()}}"></section-code>

    <side-ad></side-ad>
  </div>
</div>
