<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputName">Name</label>
    <input data-wct-input-text id="inputName"
    data-ng-model="ctrl.data.name" data-abm-form-control>
  </div>
</div>
<div class="form-group" data-abm-form-group>
  <div class="col-sm-12">
    <label data-wct-label for="inputPlaceholder">Placeholder</label>
    <input data-wct-input-text id="inputPlaceholder"
    data-ng-model="ctrl.data.placeholder" data-abm-form-control>
  </div>
</div>
